@import './rest.css';

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: 200px auto 150px;
    grid-template-areas:
    "hd hd hd hd hd"
    "sd ct ct ct ct "
    "ft ft ft ft ft "  ;
    background-color: #c2d6d6;
    font-family:"Raleway", sans-serif;
}
.body{
  background-color: #c2d6d6;
}

.box{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 12px;
    border:1px ;
}

/* Header */
.header{
    grid-area: hd;
    font-size: large;
    text-align: center;
    background-image: url(../img/ginger&bloom_flats-header+copy.jpg);
    background-size:stretch;
    width: 100%;
    z-index:1;


}

section.transbox{
  margin: 60px 40px 0 40px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  z-index:2 ;
}

section.transbox span{
  z-index: 3;
}

/*header navbar*/
.side-nav{
  margin: 0;
  padding: 0;
  background-color:black;
  position: fixed;
  width: 100%;
  height:auto;
  z-index: 4;
}
ul{
  list-style-type: none;
  overflow: hidden;
}
li{
  float: left;
}
  
   li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
  }

   li a:hover{
      background-color:#ebf0fa;
      color: black;
  }

  .right{
   float: right;
  }
  

/* content */
.content{
  grid-area: ct;
  display: flex;
  flex-direction: column;
  background-color:#ebf0fa ;
  margin:4px;
  padding:0;
}
.reacts{
  margin:5px;
  display: flex;
  flex-direction: row;
}
.about-img{
  display: flex;  
}
.about-img p{
  margin: 0;
}
.username{
  font-weight: bold;
}

#italic{
  font-weight: bold;
  font-style: italic;
}

#card-img{
  width: 65%;
  height:auto ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color:#c2d6d6 ;

}
#card-img img{
  width:100%;
}
/* slidebar */
.slidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: sd;
    background-color:#ebf0fa ;
    padding: 6px 4px;
    margin: 4px 4px 4px 4px;
  }

.card-slidebar{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  transition: 0.3s;
  width: 100%;
  height:auto;
  border-radius: 6px;
  margin:10px 10px;
}

.card-slidebar:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.author-img{
  display: flex;
  justify-content: center;
}
div.card-slidebar h2{
  margin: 3px 0 4px 3px;

}

div.box-slidecard{
  height: auto;
}

div.box-slidecard img{
border-radius:240px;
  height:50%;
}

#underline{
  text-decoration: underline;
}

/* footer */
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:black ;
  color:#ebf0fa ;
  grid-area: ft;

}

#footer-link{
  background-color: #ebf0fa;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  
}


/*------------------------------------------Mobile----------------------------------*/
@media(max-width:425px){
  .container{
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows:150px 400px auto 90px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd sd sd sd sd sd sd"
    "ct ct ct ct ct ct ct ct"
    "ft ft ft ft ft ft ft ft";
  }

  .box{
    height: 90%;
  }

   /*Header*/
   .header{
    grid-area: hd;
    width:100%;
    background-size: auto; 
   }
  section.transbox{
    margin:49px 20px 0 80px;
    padding: 5px;
    height: 60%;
    width: 60%;
  }
  section.transbox span h1,p{
      opacity: 1;
      margin: 4px 0 0 0;
      padding: 0;

  }

  /*Content*/
  .content{
    display: flex;
    flex-direction: column;
    justify-content: start;

  }

  .content,.slidebar{
    padding: 12px;
  }

  #card-img{
    position: relative;
    width: 100%;
    height:40%;

}

  /*Slidebar*/
  div.box-slidecard{
    height:100%;
  }

  .Author-info{
    display: flex;
    flex-direction: row;
  }

  .author-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  div.box-slidecard img {
    width: 90%;
    margin:0;
  }

  @media (max-width:424px){

    section.transbox {
      margin: 49px 20px 0 60px;
    }

    .about-nav{
       display: none;
    }
    
    #footer-link{
      padding: 4px 4px;
      
    }

  }


}
