/* content */
.content{
    display: flex;
    flex-direction: column;
    grid-area: ct;
    margin: 4px 4px 4px 4px;
    background-color:#ebf0fa ;


}

/*Card Post*/

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  height: 40%;
  border-radius: 6px;
  margin:10px 10px;
}

img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height:80% ;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.content p{
  margin: 0;
}
.card-btn{
  margin: 2px 2px;
  padding: 5px 5px;

}

#card-btn{
  background-color: #ebf0fa;
  border: 2px solid black;
  color:black;
  padding: 12px 28px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#card-btn:hover{
  background-color: black;
  color: #ebf0fa;
}